<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReadMe App - New Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>
  <body>
    <% include ../partials/nav %>
    <main id="main">
      <section class="section">
        <div class="section__title">Create a New Event</div>
        <p class="section__text">After submission, you will be prompted to fill out your profile for this event.</p>
        <form class="section__form" action="/events" method="post" enctype='application/x-www-form-urlencoded'>
          <fieldset class="section__form__fieldset">
            <legend class="section__form__legend">Create New Event</legend>
            <label class="section__form__label" for="name">Name</label>
            <input class="section__form__input" required type="text" name="name" value="">
            <label class="section__form__label" for="description">Description</label>
            <input class="section__form__input" required type="text" name="description" value="">
            <label class="section__form__label" for="location">Location</label>
            <input class="section__form__input" required type="text" name="location" value="">
            <label class="section__form__label" for="date">Date</label>
            <input class="section__form__input" required type="date" name="date" value="">
            <label class="section__form__label" for="start_time">Start time</label>
            <input class="section__form__input" type="time" name="start_time" value="">
            <label class="section__form__label" for="end_time">End time</label>
            <input class="section__form__input" type="time" name="end_time" value="">
            <button class="section__form__submit" type="submit">Submit</button>
          </fieldset>
        </form>
      </section>
      <% include ../partials/footer %>
    </main>
    <script src="/shared_scripts.js" charset="utf-8"></script>
  </body>
</html>
