<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>*{font-family:helvetica;}td{border:solid 1px #888;padding:1%;}table{border-collapse:collapse;}
input{margin:1%;width:700px;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <pre>
https://www.eventbriteapi.com/v3/users/me/?token=R35L6HN4MS7M53LVFZN2
https://www.eventbriteapi.com/v3/users/me/owned_events/?token=R35L6HN4MS7M53LVFZN2
https://www.eventbriteapi.com/v3/events/search/?
    </pre>
    <table>
      <tr><td>readme key<td>RU2TZ4P4WZG54YRV4P
        <tr><td>client secret<td>MQGSGXOVIN4GA5VBCUMOGPTDJELX252PGFCDIGWSA3A35CXRDC
          <tr><td>personal token<td>R35L6HN4MS7M53LVFZN2
            <tr><td>anonymous token<td>E5XLYLMHA6QZJOIATFAT
    </table>
      <input type='text' onchange='fetchData()'>
    <p></p>
    <script>
        let box = document.getElementsByTagName('input')[0];
        function fetchData() {
          let apiCall = new XMLHttpRequest();

          apiCall.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              let parsedData = JSON.parse(this.responseText);
                // document.getElementsByTagName("p")[0].innerText = `parsed data: ${parsedData}`;
                console.log(parsedData)
            }
          };
    apiCall.open("POST", `${box.value}`, true);
          apiCall.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          // apiCall.setRequestHeader("Access-Control-Allow-Origin", "*")
          apiCall.setRequestHeader("Authorization", "Bearer R35L6HN4MS7M53LVFZN2")
          apiCall.send();
        }
// jQuery
//     let settings = {
//     "async": true,
//     "crossDomain": true,
//     "url": "https://www.eventbriteapi.com/v3/events/45322642243/?token=R35L6HN4MS7M53LVFZN2",
//     "method": "POST",
//     "headers": {"Content-Type": "application/x-www-form-urlencoded"}
//   }
// function fetchData() {
//   $.ajax(settings).done(function (data) {
//     console.log(data);
//     let content = data.responseText;
//     $("p").append(content);
//   });
// }
    </script>
  </body>
</html>
