<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ReadMe App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  </head>

  <body>
    <% include ./partials/nav %>

    <main id="main">
      <section class="section">
        <div class='section__title'>Welcome to ReadMe!</div>
        <div class='section__subtitle'>This is an app for making professional networking a little less bad.</div>
        <div class='section__subtitle'>Oh? How so?</div>
        <p class="section__text">
          <strong>The Problem:</strong><br>
          Professional networking is pretty bad. You get reduced down to just their jobs and job status. This makes you sad.
        </p>
        <p class="section__text">
          <strong>Solution:</strong><br>
          Share something meaningful about yourself with other event attendees. This can be anything from what <em>questions</em> you'd like to ask, to which prog-rock bands or cat breeds you like most. Be yourself. Not your job.
        </p>
        <div class='section__subtitle'>Making Connections</div>
        <p class="section__text">
          "Ask To Connect" with somebody, either before or after the event. Consider this your "swipe-right". If the other party also Connects with you, then they become a Connection and you can see each other's contact information. New besties.
          <div class='section__subtitle'><a href="/login">Login</a> or <a href="/signup">Signup</a> to proceed!</div>
      </section>

      <% include ./partials/footer %>
    </main>
    <script src="/shared_scripts.js" charset="utf-8"></script>

  </body>
</html>
