
    <header id="header">
      <span id="title">Readme App</span>
      <span id="hamburger-menu"><i class="fas fa-bars"></i></span>
      <nav id="nav" class="nav__hidden">
        <button id="nav__close-button" type="button" name="button">X</button>
        <ul id="nav__ul">
        </ul>
      </nav>
    </header>
    <script>
    let navClose = document.getElementById('nav__close-button');
    let nav = document.getElementById('nav');
    let navOpen = document.getElementById('hamburger-menu');
    let navUL = document.getElementById('nav__ul');

    navUL.innerHTML = `
    <li class="nav__ul__li"><a href='/events'>Home</a></li>
    <li class="nav__ul__li"><a href='/account'>My Account</a></li>
    <li class="nav__ul__li"><a href='/events/all'>Events</li>
    <li class="nav__ul__li"><a href='/connections'>Connections</li>
    <li class="nav__ul__li">Logout</li>
    `;

    navClose.addEventListener('click', () => {
    	nav.className = 'nav__hidden';
    });

    navOpen.addEventListener('click', () => {
    	nav.className = 'nav__visible';
    });
    </script>
