body,
html {
	font-family: 'Dosis', sans-serif;
}

/* HEADER AND NAV */

#header {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	position: fixed;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100vw;
	height: 6vh;
	color: #fff;
	background: #000;
	padding: 0vw 3vw;
	z-index: 10;
}

#title {
	font-size: 4.5vh;
}

#hamburger-menu {
	font-size: 4.5vh;
	height: 4.5vh;
}

#main {
	position: absolute;
	margin: 0;
	left: 0;
	top: 8vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.section {
	width: 90vw;
	border-bottom: 1px solid gray;
	margin-bottom: 2vh;
}

.section__title {
	font-weight: bolder;
	font-size: 4vh;
}

.section__subtitle {
	font-weight: bold;
	font-size: 3vh;
}

.section__text {
	font-size: 2.4vh;
}

.card {
	width: 86vw;
	padding: 1vmin 1vmin;
	box-sizing: border-box;
	border: 2px solid gray;
	margin: 1.2vh 2vw;
}

.card__title {
	font-size: bold;
	font-size: 3vh;
}

.card__list {
	margin-left: 0.5vmin;
	list-style-type: none;
	font-size: 2vh;
	width: 70vw;
}

.card__prop {
	font-size: 2.4vh;
	font-weight: bold;
	margin-right: 1vw;
}

.card__buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}

.card__button {
	min-height: 3.8vh;
	flex-grow: 1;
	font-size: 2.2vh;
}

.card__button--red {
	background-color: pink;
	color: red;
}

.card__button--red:hover {
	background-color: #ffd4a0;
}

.card__button--green {
	background-color: lightgreen;
	color: green;
}

.card__button--green:hover {
	background-color: #7affdb;
}

.section__form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 86vw;
	padding: 1vmin 1vmin;
	box-sizing: border-box;
	/* border: 1px solid gray; */
	margin: 1.2vh 2vw;
	font-size: 3vh;
	text-align: center;
}

.section__form__fieldset {
	width: 100%;
	border: 0.2vmin solid gray;
}

.section__form__legend {
	font-size: 3.2vh;
}

.section__form__input {
	font-size: 3vh;
	display: block;
	width: 100%;
	margin: 1vh 0;
	border: 1px solid lightgray;
}

.section__form__submit {
	width: 60%;
	font-size: 3vh;
	border: 1px solid lightgray;
}

.section__form__text {
	font-size: 2.2vh;
}
